body {
    background: yellow;
}

h1 {
    color: red;
    font-size: 3rem;
    text-decoration: underline;
}

.text-input {
    width: 7vw;
}

#top {
    text-align: center;
}

.content {
    border: solid 1px black;
    display: flex;
    flex-direction: column;
    padding: 1%;
}

.flex-item {
    display: flex;
    text-align: center;
    width: 100%;
    justify-content: center;
}

.flex-item-2 {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.book-li {
    border-top: solid 1px black;
    padding-top: 1%;
    margin-top: 1%;
}

.book-li > h2, h3, h4, p {
    margin: 8px;
}